# vim
.*.swp
.*.swo

# pandoc
README.html

# python
__pycache__

# coverage
.coverage
htmlcov

# pip
*.egg-info

# Pipenv
Pipfile.lock

# build
build
dist

# setuptools_scm
src/django_base/version.py

# django
db.sqlite3
