[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
django-base = {editable = true, path = "."}
cookiecutter = "*"
coverage = "*"
build = "*"

[requires]
python_version = "3.7"
